<div class="container">
  <h3><%= @profile.full_name%></h3>
  <p>
    <span>Academic institute: <%= @profile.academic_institute %>,</span>
    <span>Degree: <%= @profile.academic_degree %>,</span>
    <span>Year: <%= @profile.academic_year %></span>
  </p>
  <p><span>Experience: </span> <%= @profile.experience %></p>
</div>